// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a:link, a:visited{
  display: block;
  color: #F7F7F7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.continer{
  display: grid;
  grid-template-columns: auto auto auto;
  padding:50px;
  grid-gap: 15px;
  //grid-template-rows: 400px 500px 100px;
  justify-content: space-around;
  background-color: bisque;
}
.grid_item{
  padding: 20px;
  text-align: left;
  border: 2px solid rgba(0, 0, 0, 0.8);
  background-color: #BBBBBB;
}